@model RentApplication
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <h3 class="text-center">Оформлення заявки на оренду</h3>
        <form asp-action="Checkout" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="firstName"></label>
                <div>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="lastName"></label>
                <div>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="phone"></label>
                <div>
                    <input asp-for="phone" class="form-control" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="email"></label>
                <div>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <input class="btn btn-outline-orange m-1" type="submit" value="Створити заявку" />
        </form>
    </div>
</div>