<div class="d-flex justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <h3>@ViewBag.Message</h3>
        <p class="m-1">
            <a class="btn btn-outline-orange" asp-controller="Home" asp-action="Index">На головну</a>
        </p>
    </div>
</div>