@model RoomListViewModels
<h2 class="text-center">@Model.currentType</h2>
<div class="row mt-5 mb-2">
    @{ foreach (var room in Model.allRooms)
        {
            @Html.Partial("AllRooms", room)
        } 
    }
</div>